.software-Testimonials{
height: 60vh;
background-image: url('../../../assets/image/shape-bottom.png')  , url('../../../assets/image/curve-top.png');
background-position: left bottom , right top;
background-repeat: no-repeat;
    .swiper {
        position: relative;
        width: 50%;
        height: 100%;
        padding: 50px 10px;
        .swiper-slide {
        text-align: center;
        font-size:1.1rem;
        background: #fff;
        border-radius: 13px;
        box-shadow: 0px 0px 9px -1px #9E9E9E;
        display: flex;
        justify-content: center;
        align-items: center;

    }
                @media screen and (max-width: 576px) {
                    width: 100%;
                }
    }
    .testimonials-img{
position: absolute;
left: 50%;
top: 0;
transform: translate(-50% , -50%);
background-color: #fff;
border-radius: 50%;
padding: 15px ;
box-shadow:0px 0px 20px -2px #9E9E9E ;
}
.testimonials-rate{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50% , -50% );
    color: #ff5230;
    font-size: 1rem;
}

.swiper-button-prev ,.swiper-button-next {
   color: #ff5230!important;
    @media screen and (max-width:1024px) {
            display: none;
        }
}
}