.software-banner {
    height: 120vh;
    background-image: url('../../../assets/image/hero-shapes.png');
    background-size: cover;
    background-position: right center;
    position: relative;
    overflow: hidden;
    background-color: #3333c4;

    .img-parallax-one {
        position: absolute;
        top: 20%;
        left: 47%;
        transition: 1s ease-in-out;
    }

    .img-parallax-two {
        position: absolute;
        top: 0%;
        left: 80%;
        transition: 1.2s ease-in-out;
    }

    .img-parallax-three {
        position: absolute;
        top: 65%;
        left: 40%;
        transition: 1.4s ease-in-out;
    }

    .img-parallax-four {
        position: absolute;
        top: 60%;
        left: 58%;
        transition: 1.5s ease-in-out;
    }

    .img-parallax-five {
        position: absolute;
        top: 46%;
        left: 88%;
        transition: 1.7s ease-in-out;

    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url('../../../assets/image/linear-shape.png'), url('../../../assets/image/frame.png') no-repeat ,url('../../../assets/image/html-color.png') no-repeat 20% 30%;
    }

    .software-banner__title>* {
        font-size: 3.3rem;
        font-weight: bold;
        font-family: 'softwareTitle';
        color: $light;

        .count__content {
            width: 100px;
            font-size: 2rem;
            text-align: center;

            .desc-count {
                font-size: .9rem;
            }
        }
    }
}