.products {
    .products-title {
        .title {

            font-size: 3rem;
            color: $secondary;
        }
    }

    .products-sub-title {
        .sub-title {
            font-size: 1.5rem;
        }
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .product-swiper {
        .swiper-slide {
            width: 20%;
            text-align: center;
            font-size: 18px;
            align-items: center;
            transition: .5s;
            cursor: pointer;

            @media screen and (max-width: 992px) {
                width: 40%;
            }

            @media screen and (max-width: 400px) {
                width: 60%;
            }

            padding: 10px;
            border-radius: 30px;
            border: 1px solid $border;

            .card-title {
                font-size: 1.2rem;
                color: $secondary;
            }
        }

        .swiper-button-prev {
            background-image: url('../../images/left.png');
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 50%;
            width: 2.7rem;
            height: 2.7rem;
            transition: 1s;
            background-color: rgb(204 204 204 / 26%);
            left: 0;
            background-size: 80%;

            &:hover {
                background-color: $primary;
            }
        }

        .swiper-button-next {
            background-image: url('../../images/right.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-color: rgb(204 204 204 / 26%);
            border-radius: 50%;
            width: 2.7rem;
            height: 2.7rem;
            transition: 1s;
            right: 0;
            background-size: 80%;

            &:hover {
                background-color: $primary;
            }
        }

        .swiper-button-next::after,
        .swiper-button-prev::after {
            content: "";
        }

    }

}