.awesome-section {
    height: 100vh;
    position:  relative;
    overflow: hidden;
    background-color: red;
    
    .img-parallax-ee {
        position: absolute;
        top: 20%;
        left: 5%;
        transition: 1s ease-in-out;
    }

}