.carousel{
   height:100vh;
   cursor: grabbing;
    .swiper {
            width: 100%;
            height: 40vh;
        }
    
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
        @media screen and (max-width: 992px) {
            width: 50%;
        }
        }
    
        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .mySwiper .swiper-wrapper{
                transition-timing-function: linear;
        }
}