.software-title{
    text-align: center;
    position: relative;
    &::before{
        content: 'Quiety all demo';
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translate(-50% , -50%);
        z-index: -1;
        color: #efefef;
        width:100%;
        font-size: 1.8rem;
font-family: 'softwareTitle';
    }
.title-content{
color: #175cff;
font-size: 1.3rem;
font-family: 'softwareTitle';
}
.subtitle{
    font-size: 2rem;
    font-family: "softwareTitle";
}
}