@font-face{
    font-family:'Title';
    src:url('../fonts/Poppins/Poppins-ExtraBoldItalic.ttf');
}
@font-face{
    font-family:'Subtitle';
    src:url('../fonts/BebasNeue/BebasNeue-Regular.ttf');
}
@font-face{
    font-family:'softwareTitle';
    src:url('../fonts/Poppins/Poppins-Bold.ttf');
}