
// Container Of Scss Components
@import'./navbar';
@import'./footer';
@import'../../Components/LazyLoading/LazyLoading.module.scss';
@import'../../Components/ProductsCart/ProductsCart.module.scss';
@import'../../Components/AllProducts/AllProducts.module.scss';
@import'../../pages/ProductDetails/ProductDetails.module.scss';



// main style 

#root {
    height: 100%;
ul,a{
    list-style: none;
    text-decoration: none;
}

}

html,
body {
    position: relative;
    height: 100%;
    font-size: 1vw;
    @media screen and (max-width:992px) {
        font-size: 1.5vw;
    }
    @media screen and (max-width:768px) {
        font-size: 2vw;
    }
      @media screen and (max-width: 576px) {
          font-size: 3vw;
      }
    font-size: 14px;
    margin: 0;
    padding: 0;
}
